

<div class="container" style="padding-top: 40px; margin-bottom: 20px;">
    
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 1 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 1 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 1
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 2 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 2 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 2
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 3 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 3 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 3
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 4 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 4 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 4
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 5 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 5 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 5
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 6 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 6 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 6
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 7 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 7 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 7
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 8 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 8 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 8
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 9 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 9 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 9
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 10 (campo 51)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 10 (campo 55)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 10
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
</div>