
<div [formGroup]="formEvolucaoGeap" class="container" style="padding-top: 40px; margin-bottom: 20px;">
    
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 1 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoUm">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 1 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoUmSelect" formControlName="codProcedimentoUm">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 1
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaUm"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 2 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoDois">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 2 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoDoisSelect" formControlName="codProcedimentoDois">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 2
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaDois"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 3 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoTres">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 3 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoTresSelect" formControlName="codProcedimentoTres">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 3
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaTres"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 4 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoQuatro">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 4 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoQuatroSelect" formControlName="codProcedimentoQuatro">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 4
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaQuatro"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 5 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoCinco">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 5 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoCincoSelect" formControlName="codProcedimentoCinco">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 5
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaCinco"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 6 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoSeis">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 6 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoSeisSelect" formControlName="codProcedimentoSeis">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 6
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaSeis"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 7 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoSete">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 7 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoSeteSelect" formControlName="codProcedimentoSete">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 7
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaSete"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 8 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoOito">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 8 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoOitoSelect" formControlName="codProcedimentoOito">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 8
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaOito"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 9 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoNove">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 9 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoNoveSelect" formControlName="codProcedimentoNove">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 9
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaNove"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 10 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" aria-describedby="datePic" placeholder="dd/mm/aaaa" formControlName="dataAtendimentoDez">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 10 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="evolucaoDezSelect" formControlName="codProcedimentoDez">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 10
        </div>
        <div class="col-sm">
            <textarea class="form-control" rows="4" formControlName="condutaDez"></textarea>
        </div>
    </div>
</div>