<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 40px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            COOPFISIO
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Meu cadastro</a>
                    <a class="dropdown-item" href="#">Meus documentos</a>
                    <a class="dropdown-item" href="#">Cadastro de pacientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Guia SP-SADT / TISS
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="convenio-fisco" routerLinkActive="active" >Criar/Editar Guia (Exceto Sassepe)</a>
                    <a class="dropdown-item" href="#">Criar/Editar Guia Sassepe</a>
                    <a class="dropdown-item" href="#">Consultar/Edotar Guias em Sequência</a>
                    <a class="dropdown-item" href="#">Editar/Consultar uma Guia</a>
                    <a class="dropdown-item" href="#">Excluir uma Guia/Senha</a>
                    <a class="dropdown-item" href="#">Transferir uma Guia/Senha</a>
                    <a class="dropdown-item" href="#">Corrigir uma Guia/Senha</a>
                    <a class="dropdown-item" href="#">Imprimir a Guia Sassepe/Haptech</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultas e Relatórios - Guias TISS
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Evoluções - Entregar na Coopfisio</a>
                    <a class="dropdown-item" href="#">Faturamentos - Entregar na Coopfisio</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Documentos da Coopfisio</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Manual</a>
            </li>
        </ul>
    </div>
</nav>