
<div class="container" style="padding-top: 40px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-sm" style="padding-top: 25px;">
            Tempo padrão de atendimento (minutos)
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  20
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  30
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  45
                </label>
              </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 1 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 1 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 1
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 2 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 2 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 2
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 3 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 3 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 3
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 4 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 4 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 4
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 5 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 5 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 5
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 6 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 6 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 6
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 7 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 7 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 7
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 8 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 8 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 8
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 9 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 9 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 9
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            Data de atendimento 10 (campo 36)
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="datePic" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Código de procedimento 10 (campo 40)
        </div>
        <div class="col-sm form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - FISIOTERAPIA MOTORA / 2501030 / 57</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm">
            Conduta 10
        </div>
        <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
</div>