<app-menu-superior></app-menu-superior>

<div class="container">
    <h4>
        Meu Cadastro
    </h4>
</div>

<ul class="nav nav-tabs container" style="margin-top: 15px;">
    <li class="nav-item">
      <a class="nav-link active" >Dados Pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./endereco" >Endereço</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./info">Outras Informações</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" routerLink="./tiss">TISS</a>
    </li>   
</ul>

<form class="container" style="margin-top: 25px;">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="name" class="form-control" placeholder="ADILMA FABIANE GOMES PEREIRA WILLMERSDORF">
        </div>
        <div class="form-group col-md-6">
            <label for="profissao">Profissão</label>
            <select name="profissao" class="form-control">
                <option>FISOTERAPEUTA</option>
                <option>FONOAUDIOLOGO</option>
                <option>OUTRA OPÇÃO</option>
            </select>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm">Situação</legend>
            <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="situacao" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Ativo
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="situacao" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Inativo
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="situacao" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios2">
                      Falecido
                    </label>
                  </div>
            </div>
            <legend class="col-form-label col-sm">Grupo do Usuário</legend>
            <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Cooperado
                  </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md">
            Login
            <small class="form-text text-muted">Este é o login no sistema e não deve ser alterado após o cadastro.</small>
        </div>
        <div class="col-md">
            CREFITO26882
            
        </div>
        <div class="col-md">
            Telefone Residencial
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="30303030">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md">
            Telefone Celular
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="8888888">
        </div>
        <div class="col-md">
            RG
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="888888888">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md">
            Cic
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="8888888">
        </div>
        <div class="col-md">
            Data de Nascimento
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="dd/mm/aaaa">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <legend class="col-form-label col-md">Sexo</legend>
            <div class="col-md">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo"  value="feminino" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Feminino
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sexo" value="masculino" >
                    <label class="form-check-label" for="gridRadios1">
                      Masculino
                    </label>
                  </div>
            </div>
        <div class="col-md">
            Matrícula
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="000">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md">
            Data de Início na Cooperativa
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="dd/mm/aaaa">
        </div>
        <div class="col-md">
            Email
        </div>
        <div class="col-md">
            <input type="email" class="form-control" placeholder="alguem@coopfisio.com">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md">
            Descrição Sucinta das Atividades
        </div>
        <div class="col-md">
            <input type="text" class="form-control">
        </div>
    </div>
</form>
<div class="container" style="margin-top: 30px; margin-bottom: 50px;">
    <button type="button" class="btn btn-primary">Salvar</button>
</div>