.container{
    padding-top: 40px;
   
}

.fundo{
    
    padding-top: 40px;
    height: calc(100% - 56px);
    height: 720px !important;
    background-size: cover;
    background-image: url(../../../assets/rect74.png);
}

.card{
    border-radius: 0;
    margin: 0 auto 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-container{
    max-width: 400px;
    padding: 40px;
    background-color: #e6eeff;
}

.row{
    padding-bottom: 30px;
}
