<app-menu-superior></app-menu-superior>

<div class="container">
    <h4>
        Meu Cadastro
    </h4>
</div>

<ul class="nav nav-tabs container" style="margin-top: 15px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/meus-dados" >Dados Pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../endereco">Endereço</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../info" >Outras Informações</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link active">TISS</a>
    </li>   
</ul>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-2">
            Código CBOS 
            <small class="form-text text-muted">Especialidade</small>
        </div>
        <div class="col-md-4">
            xxxxx
            <small class="form-text text-muted">Código Brasileiro de Ocupação</small>
        </div>
        <div class="col-md-3">
            Sigla do conselho profissional
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
    </div>
   <div class="row" style="margin-top: 25px;">
       <div class="col-md-3">
        Número do conselho profissional
       </div>
       <div class="col-md-3">
           <input type="text" class="form-control">
       </div>
       <div class="col-md-3">
           UF do conselho
       </div>
       <div class="col-md-3">
           <select class="form-control">
               <option >PE</option>
           </select>
       </div>
   </div>
   <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
            Id Cooperado
        </div>
        <div class="col-md-3">
            xx
        </div>
        <div class="col-md-3">
            Id empresa
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
        Orgão Classe Nome
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-3">
            Orgão Classe UF
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px; margin-bottom: 50px;">
    <button type="button" class="btn btn-primary">Salvar</button>
</div>