<app-menu-superior></app-menu-superior>

<div class="container">
    <h4>
        Meu Cadastro
    </h4>
</div>

<ul class="nav nav-tabs container" style="margin-top: 15px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/meus-dados" >Dados Pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" >Endereço</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../info" >Outras Informações</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" routerLink="../tiss">TISS</a>
    </li>   
</ul>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-2">
            Logradouro
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Rua ....">
        </div>
        <div class="col-md-2">
            Número
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="xx">
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-2">
            Complemento
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-1">
            Bairro
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-1">
            CEP
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-info">Buscar</button>
        </div>
        <div class="col-md-1">
            Cidade
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-1">
            UF
        </div>
        <div class="col-md-1">
            <select class="form-control">
                <option value="PE">PE</option>
            </select>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px; margin-bottom: 50px;">
    <button type="button" class="btn btn-primary">Salvar</button>
</div>